SCREEPS_USERNAME=bkconrad
SCREEPS_EMAIL=notreally@myemail.com
SCREEPS_PASSWORD=definitelynotmypassword # or better add it in env var
SCREEPS_HOST=https://screeps.com
SCREEPS_SHARD=shard3,shard2,shard1
METRICS_PREFIX=,s2.,s1.
